@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f1f5f9;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
